/*
   Vertical text
   by @kizmarh
*/
.vertical-text {
	display: inline-block;
	overflow: hidden;
	width: 1.5em;
}
.vertical-text__inner {
	display: inline-block;
	white-space: nowrap;
	line-height: 1.5;
	transform: translate(0,100%) rotate(-90deg);
	transform-origin: 0 0;
}
/* This element stretches the parent to be square
   by using the mechanics of vertical margins  */
.vertical-text__inner:after {
	content: "";
	display: block;
	margin: -1.5em 0 100%;
}



/* Just for more pretty example */
body {
	font: 15px/1.3 Arial, sans-serif;
}

table {
	margin-top: 0.3em;
	border-collapse: collapse;
}

th,td {
	font-weight: normal;
	padding: 0.5em;
}

h1, h2 {
	margin-top: 5px;
	margin-bottom: 5px;
}
